@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

body {
  width: 100%;
  height: 100vh;
  margin: 0;
  padding: 50px;
  box-sizing: border-box;
}

.page-header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
}
.title {
  font-family: "poppins";
  font-size: 40px;
  padding-right: 20px;
  font-weight: 700;
}
.carousel-wrapper {
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Parent */
.carousel-slide-container {
  width: fit-content;
  position: relative;
}

.slide {
  width: 100%;
  height: calc(100vh-285px);
  border-radius: 15px;

  /* image is goingto adjust itself to its parent */
  object-fit: fill;
  display: none;
}

.prev-btn,
.next-btn {
  position: absolute;
  width: auto;
  padding: 16px;
  background-color: rgb(233, 229, 229, 0.5);
  border: none;
  cursor: pointer;
  top: 50%;
  transform: translateY(-50%);
}

.prev-btn {
  left: 26px;
}
.next-btn {
  right: 26px;
}

.carousel-dots {
  text-align: center;
  margin-top: 20px;
}

.dot {
  display: inline-block;
  height: 15px;
  width: 15px;
  background-color: #bbbbbb;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 5px;
  transition: background-color 0.6s ease;
}

.dot:hover {
  background-color: #ce036a;
}

.dot-active {
  background-color: #ce036a;
}

.copyright-text {
  font-family: "poppins";
  width: 100%;
  text-align: center;
  margin: 20px 0 0 0;
}

/* Level 2 Css part*/
.popup {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  /* if any child element is more than parent element,then the parent element will give scroll option */
  overflow: auto;
  background-color: black;
}

.popup-content {
  margin: auto;
  display: block;
  width: 80%;
  height: 80%;
}

#popup-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.close {
  position: absolute;
  top: 15px;
  right: 15px;
  color: white;
  cursor: pointer;
  font-size: 30px;
}

@media (max-width: 769px) {
  body {
    padding: 30px;
    padding-bottom: 20px;
  }
  .page-header {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .carousel-slide {
    height: calc(100vh-320px);
  }
  .title {
    font-size: 30px;
  }
  .popup-content {
    width: 90%;
  }
}
